body {
    background: #2c2c2c !important;
  }
  .card-img {
    background: url('/images/miles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
  }